{#
/**
 * @file
 * Implementation of the semantic comments block content.
 *
 *  Available variables:
 *  - items: Each semantic type count results including:
 *    - semantic_type.name: the name of the semantic type
 *    - semantic_type.name_link: the name of the semantic type linking to anchor.
 *    - semantic_type.anchor: the href attributes to anchor.
 *    - semantic_type.icon: the icon class name.
 *    - semantic_type.attributes: attributes of the semantic type label.
 *    - comments_counter: counter of the linkbacks received by this semantic type.
 *  - information: text about the use of semantic webmentions.
 *  - comments:
 *   - comment_type : container that wraps each semantic type and contains:
 *     - title: the title of the semantic type.
 *     - title.attributes: the attributes of the title as the id to anchor to.
 *     - comments: the list of comments as full view mode.
 * 
 * @ingroup themeable 
 */
#}
<dl>
{% for item in items %}
  <dt {{ item.semantic_type.attributes}} ><i class="{{ semantic_type.icon }}"></i>{{ item.semantic_type.name }}</dt>
  <dd>{{ item.comments_counter }}</dd>
{% endfor %}
</dl>
<small>
  {{ information }}
</small>
<div>
  {#{{ comments }}#}
  {% for comment_type in comments %}
    <dt><h3 {{ comment_type.title.attributes}}>{{ comment_type.title}}</h3> </dt>
    <dd><small>{{ comment_type.comments }}</small></dd>
  {% endfor %}
</div>
